


.keep-title{
    font-weight: bold;
}


.edit-panel{
    z-index: 3;
}

.edit-panel .button-container i{
    font-size: 25px;
    padding: 6px;
    margin: 0 8px;
    cursor: pointer;
    transition: 1s;
}

.edit-panel .button-container i:hover{
    font-size: 32px;
    padding: 3px;
}

.color-picker-dot {
    height: 25px;
    width: 25px;
    /* background-color: red; */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
  }
  
.keep-card{
    margin: 20px;
   width: 300px;
}

.txt-keep-content {
    min-height: 50px;
    min-width: 50;

}
.keep-content{
    column-count: 3;
}
.keep-app{
    background-color: #8E7C7C;
    /* text-align: center; */
    height: 100px;
    line-height: 50px;
}
.keep-app-header{
    background-color: #8E7C7C;
    text-align: center;
    height: 100px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;  
}
.keep-app-header #hamburger{
    height: 50%;
    margin: auto 0;
    cursor: pointer;
    font-size: 40px;
    transition: 1s;
}
.keep-app-header #hamburger:hover{
    font-size: 60px;
}
#text-area{
    width: 100%;
    overflow:hidden;
    line-height: normal;
    outline: none;
    min-height: 100px;

}
.show{
    opacity: 1;
    transition: 1s;
}
.hide{
    opacity: 0;
    transition: 1s;
}

img{
    width: 100%;
    height: auto;

    
}

.todo {
    line-height: normal;
}
.todos {
    border: 1px dashed #b6b6b6;
    padding-bottom: 20px;
}
.add-keep-input {
    width: 300px;  
}
.btns-container-add{
    display: inline;
}