
body {
    background-color: #c0cad3;
    transition: 1s;
}

.keep-title{
    font-weight: bold;
}
.keep-app{
    transition: 1s;
}

.edit-panel{
    z-index: 3;
}

.add-keep-btn {
    background-color:  #e8f2f9;
    border: 2px solid rgba(232, 242, 249, 0.6) ;
    color: #4b4746;
}

.edit-panel .button-container i{
    /* font-size: 25px; */
    padding: 6px;
    margin: 0 8px;
    cursor: pointer;
    transition: 1s;
}



.color-picker-dot {
    height: 20px;
    width: 20px;
    /* background-color: red; */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
  }
  
.keep-card{
    margin: 20px;
   width: 280px;
   transition: 1s;
   break-inside: avoid;
   border-radius: 10px;
}

.txt-keep-content {
    min-height: 50px;
    min-width: 50;

}
.keep-content{
    column-count: auto;
    column-width: 280px;
    /* column-span: all;  */
    /* break-inside: avoid; */
}


#text-area{
    border-radius: 5px;
    background-color: #99aab5;
    font-size: 1.5rem;
    overflow:hidden;
    line-height: normal;
    width: 100%;
    outline: none;
    min-height: 100px;
    transition: 1s;
}
#text-area:focus{
    background-color: lightgray;
}
.show{
    opacity: 1;
    transition: 1s;
}
.hide{
    opacity: 0;
    transition: 1s;
}

img{
    width: 100%;
    height: auto;

    
}

.todo {
    line-height: normal;
}

.todo.is-done {
    text-decoration: line-through;
}

.todo-card{
    padding: 20px;
    transition: 1s;
    border-radius: 10px;

}

.btns-container-add{
    display: inline;
}

.pinned{
    border: 1.5px solid blue;
}

.un-pinned{
    border: none
}
.btn-add-todo-item {
    cursor: pointer;
    font-size: 2rem;
}

.keep-input-container{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
/* #search-keep-input{
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
}

#search-keep-input:focus{
background-color: rgb(28, 161, 61);
} */

.input-search-label {
    margin: 5px 0 0 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

#search-keep-input{
    background-color: #c0cad3;
    border: none;
    outline: none;
    font-size: 0.7rem;
}

#search-keep-input:focus{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
#search-keep-input.active-search{
    font-size: 1.3rem;
    margin-bottom: 5px;
}



.add-keep {
    display: grid;
    height: 50px;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto auto;
    margin: 20px;
}


.add-keep-input {
    width: 320px;  
    border-radius: 7px;
    height: 50px;
    justify-self: flex-end;
    padding: 5px;

}

.btns-container-add {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* margin: 0 auto; */
    width: 170px;
    justify-content: space-between;
    justify-self: flex-start;
    margin-left: 10px; 

}

.add-keep-btn {
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    border-radius: 7px;

}

@media (max-width: 550px) {
    .add-keep {
        
        display: grid;
        height: 50px;
        /* align-items: center; */
        /* justify-content: center; */
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 0 auto 40px auto;
    }

    .btns-container-add {
        justify-self: center;
        grid-row-start: 2;
        margin-top: 10px;
        justify-content: center;
        
    }
    
    .add-keep-btn {
        height: 40px;
        width: 40px;
        font-size: 1.2rem;
        margin-right: 10px;
    }
    
    
  
    .add-keep-input {
        justify-self: center;
        width: 320px;  
        border-radius: 7px;
        height: 40px;
        /* justify-self: flex-end; */
        padding: 5px;

    }

    .keep-card {
        width: unset;
    }



}