.router-link-active {
    color: gold
}


.email-compose{
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}
.email-compose input{
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}
.email-compose input:focus{
    background-color: lightblue;
}
#text-area{
    border-radius: 5px;
    transition: 1s;
}

#text-area:focus{
background-color: lightblue;
}
#send-mail-btn{
    transition: 1s;
}
#send-mail-btn:hover{
background-color:lightgreen;
}
.mail-app-header{
    background-color: #8E7C7C;
    text-align: center;
    height: 100px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;  
}
.keep-app{
    background-color: #8E7C7C;
    text-align: center;
    height: 100px;
    line-height: 50px;
}

#search-email-input{
    margin: auto 0;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 25px;
}
.mail-app-header #hamburger{
    height: 50%;
    margin: auto 0;
    cursor: pointer;
    font-size: 40px;
    transition: 1s;
}
.keep-app-header #hamburger{
    height: 50%;
    margin: auto 0;
    cursor: pointer;
    font-size: 40px;
    transition: 1s;
}
.mail-app-header #hamburger:hover{
    font-size: 60px;
}
.keep-app-header #hamburger:hover{
    font-size: 60px;
}
.content-container{
    display: flex;
}
.inner-links-container{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.email-preview-cmp{
    /* width: 100%; */
    background-color: lightblue;
}

.toast-msg {
    background-color: aqua;
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 10px;
}
.body-header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.text-description{
    font-weight: bold
}
.compressed-mail{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.body-txt{
    /* width: 100%; */
    max-width: 755px;
    cursor: pointer;
}
.email-prev-subj{
    width: 250px;
}
.sender-name{
    font-weight: bold;
    width: 100px;
}
.email-list-show{
    width: 100%;
    margin: 0 auto;
    max-width: 755px;
    /* height: 50px; */
    /* line-height: 50px; */
    cursor: pointer;
}
#email-button{
    margin-left: 20px;
}
.email-prev-time{
    width: 100px;
}

.read{
    font-weight: normal;
}
.un-read{
    font-weight: bold;
}

.logo{
    background-image: url('../img/logo.png');
    /* background-size: contain; */
    width: 150px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.placeholder {
    visibility: hidden;
}

