
body, html {
    min-height: 100%;
    margin: 0;
  }

/* body{
    box-sizing: border-box;
} */


/* helpers */
.flex {
    display: flex
}
.grid {
    display: grid;
}
#app{
    height: 100%;
}
.links-container{
    margin-top: 30px;
}
.nav-bar  a{
    color: black;
    transition: 1s;
    margin: 0 20px;
}
.nav-bar a:hover{
text-decoration: underline;
font-size: 2rem;
padding: 0px;
margin: 0px
}
.nav-bar .home-btn:hover{
    margin: 0 20px;
    cursor: default;
    text-decoration: none;
    
}
.nav-bar .router-link-active {
    font-size: 2rem;
}


.email-compose{
    flex-direction: column;
    display: flex;
    margin: 0 auto;

}
.email-compose input{
    padding: 20px;
    border-radius: 10px;
    background-color: #99aab5;
    transition: 1s;
}
.email-compose input:focus{
    background-color: lightgray;
}

#send-mail-btn{
    transition: 1s;
}
#send-mail-btn:hover{
background-color:lightgreen;
}
.app-header{
    background-color: #3c3c3c;
    display: grid;
    grid-template-columns: auto 80px 80px;
    align-content: center;
    align-items: center;
    height: 100px;
}


#search-email-input{
    margin-left: 20px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    
}
 /* #hamburger{
    cursor: pointer;
    font-size: 40px;
    transition: 1s;
   
    justify-self: start;
    padding-left: 60px;
} */
/* .btn{
background-color: 	#23272a
} */

/* .app-header #hamburger:hover{
    font-size: 50px;
    margin-right: 10px;
} */

.apps{
    cursor: pointer;
    font-size: 40px;
    transition: 0.5s;
    justify-self: end;
    margin-right: 20px;
    color:white;
}
.btn{
background-color: 	#23272a
}

.apps:hover{
    font-size: 50px;
    margin-right: 10px;
}
.content-container{
    display: flex;
    /* height: 85%; */
    min-height: 86vh;
}
.inner-links-container{
    display: flex;
    min-width: 200px;
    text-align: center;
    background-color: #c0cad3;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px; 
    height: 100vh;
}
.inner-links-container button{
    background-color: #d3e1e8;
    height: 40px;
    border-radius: 5px;
    width: 70%;
    font-size: 1.1rem;
    transition: .5s;
}


.inner-links-container a {
    margin-top: 20px;
}
.inner-links-container a:first-child {
    margin-top: 0;
}

.inner-links-container button:hover{
    background-color: #e4ebf1;
    color: black;
    width: 75%;
}
.email-preview-cmp{
    padding: 2px;
    background-color: #d3e1e8;
    transition: .5s;
}
.email-preview-cmp:nth-child(even){
   
    background-color: #e8f2f9;
   
}
.email-preview-cmp:hover{
    background-color: #e4ebf1;
    /* background-color: #c0cad3; */
}

.email-btns-container {
    /* justify-self: end; */
    justify-content: space-evenly
}

.email-btn {
    background-color:  transparent;
    border: 2px solid rgba(232, 242, 249, 0.6) ;
    color: #4b4746;
}
.email-preview-cmp:nth-child(even) .email-btn {
    background-color:  transparent;
    border: 2px solid rgba(211, 225, 232, 0.59);;
}



.toast-msg {
    background-color: aqua;
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 10px;
}
.body-header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.text-description{
    font-weight: bold
}
.compressed-mail{
    cursor: pointer;
    grid-template-columns: 2fr 7fr 2fr 3fr;
    padding: 0 20px;
    height: 50px;
    align-items: center;

    
}
.body-txt{
    /* width: 100%; */
    max-width: 755px;
    cursor: pointer;
}
.email-prev-subj{
    white-space: nowrap;
}
.sender-name{
    font-weight: bold;
    width: 100px;
}
.mail-title{
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: start; 
    padding: 3px 20px;
    height: 50px;
    align-items: center;
    font-family: cursive;
    background-color: #c0cad3;
}
.unread-mail-count{
    color: white;
    justify-self: end;
  
}
.unread-mail-count i{
    font-size: 2rem;
    
}
.unread-mail-count span {
    font-size: 0.7rem;
    height: 50px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    padding: 5px 8px 5px 8px;
}
.email-list-show{
    margin: 0 auto;
    width: 100%;
}
.compressed-mail #email-button{
    margin-left: 20px;
    max-height: 40px
}
.email-prev-time{
    justify-self: end;
    padding-right: 5px;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: monospace;
}

.read{
    font-weight: normal;
}
.un-read{
    font-weight: bold;
}

.logo{
    background-image: url('../img/logo.png');
    background-size: contain;
    width: 200px;
    background-repeat: no-repeat;
    cursor: pointer;
    align-self: normal;
    margin-left: 30px;

}


footer{
    background-color: rgb(26, 8, 8);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
}

 .mail-app-footer {
    background-color: rgb(26, 8, 8);
    position: absolute;
    /* bottom: 0px; */
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
}






/* CSS DESIGN FOR PAGE */

/* body{
    background-image: url('../img/background-cover\ -\ Copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

.bg {
    /* The image used */
    background-image: url('../img/background-cover\ -\ Copy.jpg');
  
    /* Full height */
    /* height: 100%;  */
  height: 700px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-bar{
      text-align: center;
      /* border: 1px solid black; */
      /* background-color: white; */
      /* opacity: 0.1; */
      color: black;
      font-weight: 900;
  }

  .read-unread-all {
      margin-left:10px;
  }

 


  @media (max-width: 750px)
  {
    .nav-closed {
        /* left: 100%; */
        position: absolute;
        transform: translate(-100%, 0);
        transition: transform 0.5s ease;
    }
    .nav-open {
        transition: transform 0.5s ease;
        transform: translate(0, 0);
        position: absolute;
    }
    .app-header{
        background-color: #3c3c3c;
        display: grid;
        grid-template-columns: 70px auto 70px 70px;
        align-content: center;
        align-items: center;
        height: 100px;
    }

    #hamburger {
        justify-self: start;
        margin-left: 20px; 
        padding:0;
        font-size: 1.9rem;
        cursor: pointer;

    }
    .inner-links-container{
        display: flex;
        min-width: 150px;
        background-color: rgba(60, 60, 60, 0.8);


    }
    .inner-links-container button{
        background-color: #f0f0f0;
        width: 80%;
       
    }
  
    .apps {
        font-size: 1.7rem;
    }
    .far.fa-envelope {
        font-size: 1.6rem;
    }
    .app-header {
        height: 70px;
    }
    .mail-title, .search-email-input {
        font-size: 1rem;
    }
    .logo {
        margin: 0;
    }

  }

  /* .nav.open {
    transform: translate(0, 0);
}

.nav {
    position: absolute;
    transform: translate(300px, 0);
    transition: transform 0.5s ease;
} */

  